<table>
  <tr>
    <td><b>Course</b></td>
    <td><b>Description</b></td>
    <td><b>Price</b></td>
    <td><b>Capacity</b></td>
  </tr>
  <% @course_list.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.price %></td>
        <td><%= course.capacity %></td>
      </tr>
  <% end %>
</table>