<div class="container">
	<h3>Welcome to MentorLand!</h3>
<p><em>Deployed: 4:56pm, Dec 8, 2013. --Zhe</em></p>
<img src="/assets/mentor.gif" width=866px height=680px class="img-thumbnail" alt="MentorLand!"></img>
</div>
