<div class="container">
  <% if not signed_in?%>
      <div class = "center hero-unit">
        <h1>Welcome to MentorLand!</h1>
        <p>A Platform where you can improve you academic performance immediately.</p>
        <div class = "span12">
          <%= link_to "Sign up now", '/users/sign_up', class: "btn btn-large btn-success"%>
          <%= link_to "Sign in", '/users/sign_in', class: "btn btn-large btn-primary" %>
        </div>
      </div>
  <% else %>
      <div class = "center hero-unit">
        <h1>Welcome to MentorLand!</h1>
        <p>A Platform where you can improve you academic performance immediately.</p>
        <div class = "span12">
          <%= link_to "My Profile", '/profile', class: "btn btn-large btn-primary"%>
        </div>
      </div>
  <% end %>
</div>

