<div class="check_out">
  <table align="center">
    <tr>
      <td style="height: 10px"></td>
      <td style="height: 10px"></td>
    </tr>
    <% @my_credit_cards.each do |card| %>
        <tr>
          <td style="width: 200px"><%= card.display_number %></td>
          <td><%= button_to("User this card", {:controller => "students", :action => "checkout", :credit_card_id => card.id}, :remote => false, class: "btn btn-primary") %></td>
        </tr>
    <% end %>
  </table>

  <p>
    <b>New Credit Card</b>

    <%= render 'form' %>

  </p>
</div>
