<h3>All Courses</h3>
<table class="table table-condensed">
  <tr>
    <td style="height: 30px"><b>Course</b></td>
    <td style="height: 30px"><b>Price</b></td>
    <td style="height: 30px"><b>Capacity</b></td>
  </tr>
  <% @allcourses.each do |course| %>
      <tr>
        <td style="height: 60px"><%= course.name %></td>
        <td style="height: 60px"><%= course.price %></td>
        <td style="height: 60px"><%= course.capacity %></td>
      </tr>
  <% end %>
</table>
