.map_container {
    border: #2e1a12 solid 100px;
    width: 950px;
    padding: 0px;
    -webkit-border-image: url(paper.png) 0 stretch;
    -moz-border-image: url(paper.png) 0 stretch;
    border-image: url(paper.png) 130 fill stretch;
}

.gmaps4rails_map {
    left: 25px;
    width: 880px;
    height: 450px;
}

.bing_map {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}